*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
  overflow: hidden;
}
main{
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
  background-color:rgb(252, 135, 155);


  #btn{
    /*padding:0.8rem 1.8rem;
    font-size: 1rem;
    border:none;
    border-radius:0.7rem;
    cursor:pointer;
    background-color:rgb(252, 206, 214);
    font-family: 'sans-serif';
    */
    width:200px;
    height:200px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    position: relative;
    z-index:8;
  }
   #btn:active{
      transform: scale(0.95);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    h1{
      white-space: nowrap;
      font-size: 1rem;
    }
}

@media (min-width:900px) {
  main{
    #btn{
      padding:1.2rem 2.5rem;
      font-size: 1.2rem;
    }
  }
}

