* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #121212;
}

body {
  anchor-name: --some-anchor;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;

  .box {
    width: 100px;
    height: 40px;
    background-color: rgb(146, 146, 146);
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 0.9rem;
  }
}

.box:hover {
  anchor-name: --some-anchor;
}

.anchor {
  will-change: top, left, width, height;

  position: absolute;
  position-anchor: --some-anchor;

  top: anchor(top);
  left: anchor(left);
  width: anchor-size(width);
  height: anchor-size(height);
  pointer-events: none;
  background-color: rgb(220, 218, 218);
  border-radius: 0.75rem;
  transition:
    top 0.3s ease,
    left 0.3s ease,
    width 0.3s ease,
    height 0.3s ease;
  mix-blend-mode: difference;
  opacity: 0.15;
}
